<!DOCTYPE html>
<html>
<head>
{% block content %}

  <link rel="stylesheet" href= "static/estilos/css/styleslogin.css">
  <title>Login Puebla</title>
  </head>
  <body class="fondo1">
    <main>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">{{message}}</div>
        {% endfor %}
    </main>

    <main>
      <div id="id01" class="modal">
      <form class="modal-content animate"  method="post" action="/login">
        <div class="imgcontainer">
          
          <img src="static/img/Pueblapiv.png" width="45%" >
        </div>
        
      
        <div class="container">
          <h2><b class="letra_grande"><left>Inicio de sesión </left></b></h2>
          <br> <br>
          <b class="tipo_letra">Correo electrónico</b>
          <input type="text" placeholder="ejemplo@correo.com" name="email" required>
          <b class="tipo_letra">Contraseña</b>
          <input type="password" placeholder="********" name="password" required>
          <span class="password">¿Olvidaste tu <a href="#">contraseña?</a></span>  
          <button type="submit">Iniciar sesión</button>
          <p class="letra_pequeña">Si eres usuario nuevo <a href="crear_usuario.html">Registrate</a></p>
          </div>
        </div>
      </form>
    </main>
  </div>
  
</body>  

{% endblock %}
</html>